[project]
	description = Hanger
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ArthurGit
[access "refs/for/refs/*"]
	read = group user/ArthurGit
	push = group user/ArthurGit
	label-Code-Review = -2..+2 group user/ArthurGit
	label-Verified = -1..+1 group user/ArthurGit
	rebase = group user/ArthurGit
	removeReviewer = group user/ArthurGit
	submit = group user/ArthurGit
[access "refs/heads/*"]
	read = group user/ArthurGit
	create = group user/ArthurGit
	push = +force group user/ArthurGit
	pushMerge = group user/ArthurGit
[access "refs/tags/*"]
	push = +force group user/ArthurGit
	createTag = group user/ArthurGit
	createSignedTag = group user/ArthurGit
